{% extends "base.html" %} {% block title %}Forgot Password{% endblock %} {%
block content %}
<style>
  .forgot-password-container {
    max-width: 600px;
    height: 550px;
    margin-left: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    background-color: whitesmoke;
  }
  #forgot-email {
    width: 70%;
    height: 25px;
    margin-top: 2%;
    border: 2px solid black;
    border-radius: 5px;
    margin: 10px 15%;
  }
  button {
    width: 70%;
    height: 25px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: greenyellow;
    margin: 5px 15%;
  }
  #backtologin {
    text-align: center;
    margin: auto;
  }
</style>
<div class="forgot-password-container">
  <h2>Forgot Password?</h2>
  <p>
    No Problem! Enter your email below and we will send you an email with
    instructions to reset your password.
  </p>
  <form>
    <input
      type="email"
      name="forgot-email"
      id="forgot-email"
      placeholder="Enter your email"
      required
    />
    <button type="submit">Send Reset Link</button>
  </form>
  <p id="backtologin">Back to <a href="/login">Log In</a></p>
</div>

{% endblock %}
