{% extends "base.html" %} {% block title %}Log In{% endblock %} {% block content
%}
<style>
  .login-container {
    max-width: 600px;
    height: 580px;
    margin-left: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    background-color: whitesmoke;
  }
  #Email,
  #Password {
    width: 70%;
    height: 40px;
    border: 2px solid black;
    border-radius: 5px;
    margin: 10px 15%;
    padding: 10px;
  }
  #login-button {
    width: 50%;
    height: 40px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: greenyellow;
    margin: 5px 25%;
  }
</style>
<div class="login-container">
  <h2>Welcome Back!</h2>
  <h2>Login to your account...</h2>
  <p>It's Nice to see you again...</p>
  <form>
    <input
      type="text"
      name="Email"
      id="Email"
      placeholder="Email Or Username"
      required
    />
    <br />
    <input
      type="password"
      name="Password"
      id="Password"
      placeholder="Password"
      required
      minlength="8"
    />
    <br />
    <button type="submit" id="login-button">Log In</button>
    <a
      href="/forgotpassword"
      style="margin-left: 50%; text-decoration: none; color: blue"
      >Forgot Password?</a
    >
  </form>
  <br />
  <p>--------------------------------or------------------------------</p>
  <br />
  <div>
    <button
      type="submit"
      style="
        width: 70%;
        height: 40px;
        border: 2px solid black;
        border-radius: 5px;
        background-color: white;
        margin: 5px 15%;
      "
    >
      Continue with Google
    </button>
    <button
      type="submit"
      style="
        width: 20%;
        height: 40px;
        border: 2px solid black;
        border-radius: 5px;
        background-color: greenyellow;
        margin-left: 17%;
      "
    >
      LinkedIn
    </button>
    <button
      type="submit"
      style="
        width: 20%;
        height: 40px;
        border: 2px solid black;
        border-radius: 5px;
        background-color: greenyellow;
        margin: 10px;
      "
    >
      Github
    </button>
    <button
      type="submit"
      style="
        width: 20%;
        height: 40px;
        border: 2px solid black;
        border-radius: 5px;
        background-color: greenyellow;
        margin: 10px;
      "
    >
      Facebook
    </button>
  </div>
</div>
{% endblock %}
